# SPDX-FileCopyrightText: 2020-2025 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

# ReSharper/Rider
/.idea/
*.user

# Build system:
bin/
obj/
publish/

# Documentation generator:
/docs/_site/
/docs/api/
